body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: large;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


button {
  font-size: large;
  margin-top: 20px;
  padding: 10px 40px;
  margin-left: 5px;
}

select {
  font-size: large;
  padding: 5px 10px 5px 5px;
  margin-left: 5px;
}

label {
  display: block;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

p {
  margin: 10px 0px;
}